/* purgecss start ignore */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Raleway:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
/* purgecss end ignore */

body {
  @apply font-sans bg-white;
}

.text-shadow {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

@tailwind utilities;

.pin-middle {
  top: 50%;
  transform: translateY(-50%);
}

@responsive {
  .h-600 {
    height: 600px;
  }

  .h-450 {
    height: 450px;
  }
}
