/* purgecss start ignore */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,500&display=swap');

@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;
